@model EntityLayer.Concrete.Comment
<div class="comment-form-wrap pt-5">
    <h3 class="mb-5">Bir Yorum Yap</h3>
    @using (Html.BeginForm("LeaveComment","Comment",FormMethod.Post))
    {
         <div class="form-group">
            <label for="name">Kullanıcı Adı *</label>
            @Html.TextBoxFor(x=>x.UserName,new { @class="form-control"})
         </div>
                <div class="form-group">
                    <label for="email">Email *</label>
                    @Html.TextBoxFor(x=>x.Mail,new { @class="form-control"})
                </div>


     <input type="hidden" name="BlogID" value="@ViewBag.id" />

     <div class="form-group">
         <label for="message">Yorumunuz *</label>
         @Html.TextAreaFor(x=>x.CommentText,new { @class="form-control"})
     </div>


     <div class="form-group">
         <label for="message">Puanınız:</label>
         <label>@Html.RadioButton("BlogRating", 1) 1</label>
         <label>@Html.RadioButton("BlogRating", 2) 2</label>
         <label>@Html.RadioButton("BlogRating", 3) 3</label>
         <label>@Html.RadioButton("BlogRating", 4) 4</label>
         <label>@Html.RadioButton("BlogRating", 5) 5</label>
         <label>@Html.RadioButton("BlogRating", 6) 6</label>
         <label>@Html.RadioButton("BlogRating", 7) 7</label>
         <label>@Html.RadioButton("BlogRating", 8) 8</label>
         <label>@Html.RadioButton("BlogRating", 9) 9</label>
         <label>@Html.RadioButton("BlogRating", 10) 10</label>
     </div>

 <div class="form-group">
 <input type="submit" value="Yorum Yap" class="btn btn-primary">
 </div>
                                                                                
                                                                                
                                                                                
  }






</div>
